{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block main %}
<form action="/order" method="post">
    <div class="d-inline-flex p-2">
        <input
            autocomplete="off"
            autofocus
            class="form-control mx-3 w-auto"
            id="date"
            name="mealdate"
            placeholder="Meal Date"
            type="date"
        />
        <button class="btn btn-primary" type="submit">Select Date</button>
    </div>
    {% if user_meal_records|length == 0 %}
    <p>There is no order record.</p>
    {% endif %} {% if user_meal_records|length > 0 %}
    <p>Shop is: {{ today_order.name }}</p>
    <p>Date is: {{ today_order.time }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Meal</th>
                <th class="text-start">Prices</th>
            </tr>
        </thead>
        <tbody>
            {% for record in user_meal_records %}
            <tr>
                <td class="text-start">{{ record.username }}</td>
                <td class="text-start">{{ record.name }}</td>
                <td class="text-start">{{ record.price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-start">Total</td>
                <td class="text-start"></td>
                <td class="text-start">{{ total_price }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</form>
{% endblock %}
